<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/css/bootstrap.css">

  <title>Acompanhamento de PRs</title>
</head>

<body>

  <div class="d-flex flex-row">

    <div>
    <%- include('components/sidebar') %>
    </div>

    <div id="content" class="m-2">
      <table class="table table-hover">
        <thead class="thead-light">
          <%- include('components/pr-header') %>
        </thead>

        <tbody>    
          <% for(let i = 0; i < pr.length; i++) { %>
            <%- include('components/pr-body', {i: i, pr: pr}) %>
      
            <% for(let j = 0; j < action.length; j++) { %>
              <% if(pr[i].id_pr == action[j].fk_pr) { %>
                <%- include('components/action-body', {j: j, action: action}) %>
              <% } %>
            <% } %>
      
          <% } %>
        </tbody>
      </table>      
    </div>

  </div>

  <script>
    window.$ = window.jQuery = require('jquery')
    window.Bootstrap = require('bootstrap')
  </script>

</body>
</html>